/* 顶部导航 */
.top{
    width: 100%;
    height: .88rem;
    box-sizing: border-box;
    padding: 0 .16rem;
    border-bottom: .04rem solid #EAE8E8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top a{
    font-size: .0024rem;
    color: #71737D;
}
.top .search{
    width: 5.86rem;
    height: .6rem;
    background-color: #EAE8E8;
    border-radius: .3rem;
    line-height: .6rem;
    box-sizing: border-box;
}
.top .icon-sousuo{
    padding-left: .24rem;
    padding-right: .2rem;
}
.top .icon-shenglve{
    font-size: .48rem;
}
/* 中间内容 */

/* 底部导航 */
.bottom .fl{
    color: #E43130;
}